@use "/src/sass/base/variables.scss" as *;

.about {
  .just-validate-error-field {
    border: none;
    outline: 1px solid $ui-error;
  }
  &__wrapper {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
  }
  &__img {
    width: 100%;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    color: $dark;
    font-style: normal;
    line-height: normal;
    margin: 0px 0;
  }
}

@media screen and (min-width: 768px) {
  .about {
    &__img {
      padding: 0 60px 0 60px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .about {
    &__img {
    width: 550px;
    height: 378px;
    padding: 0;
    object-fit: cover;
    }
    &__wrapper {
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 20px;
    }
  }
}

@media screen and (min-width: 1920px) {
    .about {
        &__img {
            width: 700px;
            height: 481px;
        }
        &__wrapper {
            margin-top: 100px;
        }
        p {
            font-size: 20px;
        }
        &__get-in-touch {
            margin-top: 40px;
        }
    }
}
